/* Reset */

:root {
  --main-font: sans-serif;
  --font-size: 16px;
  --main-color: #f7df1e;
  --second-color: #222;
  --main-modal-color: rgba(247, 222, 30, 0.85);
  --section-modal-color: rgba(34, 34, 34, 0.85);
  --container-width: 1200px;
  --rojo: #f7491e;
  --naranja: #f7a01e;
  --amarillo: #f7df1e;
  --lima: #80f71e;
  --verde: #0da10d;
  --celeste: #1eb2f7;
  --azul: #1446b3;
  --violeta: #3f068a;
  --lila: #ba1ef7;
  --fucsia: #d615cd;
}

html {
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  overflow-x: hidden;
}

body.is-active {
  background-color: var(--second-color);
  color: whitesmoke;
}

img {
  max-width: 100%;
  height: auto;
}

/*Menu Hamburguesa*/

.header {
  position: sticky;
  z-index: 998;
  top: 0;
  padding: 1rem;
  background-color: var(--main-color);
  color: var(--second-color);
}

.header h1 {
  margin: 0 auto;
  text-align: center;
}

.section {
  padding: 2rem;
  padding-top: 4rem;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: var(--container-width);
  min-height: 100vh;
  text-align: center;
}

.dark-mode {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: #030335;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode.is-active {
  visibility: hidden;
}

.light-mode {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vh;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: #3891e4;
  cursor: pointer;
}

.light-mode.is-active {
  visibility: hidden;
}

.light-mode:hover {
  background-color: #5da3e6;
  box-shadow: 0 0 2px whitesmoke, 2px 2px 2px whitesmoke,
    -2px 2px 2px whitesmoke, 2px -2px 2px whitesmoke, -2px -2px 2px whitesmoke;
}
.dark-mode:hover {
  background-color: #070763;
  box-shadow: 0 0 2px #030341, 2px 2px 2px #030341, -2px 2px 2px #030341,
    2px -2px 2px #030341, -2px -2px 2px #030341;
}

.arrowButton {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(15rem);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: none;
  font-size: 2rem;
  font-weight: bold;
  background-color: var(--main-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.arrowButton.is-active {
  visibility: visible;
  opacity: 100%;
}

.arrowButton:hover {
  background-color: var(--second-color);
  color: var(--main-color);
}

/**/

.arrowButton {
  right: calc(7rem + 2vh);
}
.panel {
  visibility: hidden;
  overflow-y: auto;
  scrollbar-width: 5px;
  position: fixed;
  z-index: 998;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-color: var(--section-modal-color);
  transition: transform 0.3s ease;
  transform: translate(0, 100%);
}
.panel-btn {
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--main-color);
}

.panel.is-active {
  visibility: visible;
  transform: translate(0, 0);
}

.menu {
  width: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.menu a {
  padding: 2rem;
  width: inherit;
  display: block;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--main-color);
  transition: all 0.3s ease;
}

.menu a:hover {
  color: var(--second-color);
  background-color: var(--main-modal-color);
}
/**/
/* Eventos del teclado */

.cuadrado {
  background-color: var(--second-color);
  margin-left: auto;
  margin-right: auto;
  width: 160vh;
  height: 50vh;
}

.cuadrado.is-active {
  background-color: whitesmoke;
}

.circulo {
  background-color: var(--main-color);
  margin: auto;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: relative;
  top: 0vh;
}

.responsive-anchor {
  display: block;
}

.form-tester {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* conection */

.line-status {
  width: 100%;
  position: fixed;
  z-index: 999;
  top: 0;
  padding: 1rem;

  color: whitesmoke;
  font-size: 20px;
  text-align: center;
}
.on {
  background-color: rgb(16, 192, 54);
}

.off {
  background-color: rgb(231, 60, 29);
}

/* webcam */

.webcam {
  width: 1000px;
  height: auto;
}

/* filter */

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.card {
  padding: 10px;
  width: 220px;
  background-color: var(--second-color);
}

.card img {
  object-fit: cover;
  height: 200px;
  width: 200px;
}

.card figcaption {
  font-size: 30px;
  color: var(--main-color);
}

.hiddenCard {
  display: none;
}

ul {
  list-style: none;
  padding-inline-start: 0;
}

li {
  font-size: 20px;
}

/* slider */

.slider {
  position: relative;
  width: 80%;
  margin: 1rem auto;
  text-align: center;
}

.slider-slides {
  position: relative;
  height: 400px;
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease;
}

.slider-slide img {
  height: inherit;
  width: inherit;
  object-fit: cover;
  object-position: 50% 50%;
}

.slider-slide.active {
  opacity: 1;
  visibility: visible;
}
.slider-btns {
  position: absolute;
  width: 100%;
  top: 50%;
  display: flex;
  justify-content: space-between;
  font-size: 3rem;
  font-weight: bold;
}
.slider a {
  display: block;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  text-decoration: none;
  color: black;
  transform: all 0.3s ease;
}

.slider a:hover {
  color: #030303a8;
}

@media screen and (min-width: 1200px) {
  body {
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 4rem auto;
    grid-template-areas: "header header" "main panel";
  }

  main {
    grid-area: main;
  }
  .header {
    grid-area: header;
  }

  .panel {
    grid-area: panel;
    align-self: start;
    z-index: 997;
    height: inherit;
    top: 4rem;
    background-color: var(--second-color);
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
    width: 20%;
    left: auto;
    display: flex;
  }

  .panel-btn {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: start;
    width: -webkit-fill-available;
  }

  .menu a {
    font-size: 1rem;
    height: 1rem;
  }

  .menua a:hover,
  .menu a.active {
    color: var(--second-color);
    background-color: var(--main-color);
  }

  .arrowButton {
    right: initial;
    left: calc(4.25rem + 1vh);
  }
}

video {
  width: 90%;
}

/* FORM */

.contact-form {
  --form-ok-color: #4caf50;
  --form-error-color: #f44336;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.contact-form > * {
  padding: 0.5rem;
  margin: 1rem auto;
  display: block;
  width: 100%;
}

.contact-form textarea {
  resize: none;
}

.contact-form legend,
.contact-form-respone {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.contact-form input,
.contact-form textarea {
  font-size: 1rem;
  font-family: sans-serif;
}

.contact-form input[type="submit"] {
  width: 50%;
  font-weight: bold;
  cursor: pointer;
}

.contact-form *::placeholder {
  color: #000;
}

.contact-form [required]:valid {
  border: thin solid var(--form-ok-color);
}

.contact-form [required]:invalid {
  border: thin solid var(--form-error-color);
}

.contact-form-error {
  margin-top: -1rem;
  font-size: 80%;
  background-color: var(--form-error-color);
  color: #fff;
  transform: all 800ms ease;
}

.contact-form-error.is-active {
  display: block;
  animation: show-message 1s 1 normal 0s ease-out both;
}

.none {
  display: none;
}

@keyframes show-message {
  0% {
    visibility: hidden;
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}
